img{
    height: auto;
    width: 100%;
}
.cards{
    display: grid;
    /* agr colums ko set karo to rows apne app set ho jaaygi and simunteniously rows and column bhi  */

    /* grid-template-columns: 100px 100px 100px 100px ; */
    grid-template-columns: repeat(3,1fr);

    grid-gap: 10px;


}
.card1,.card2,.card3,.card4,.card5,.card6{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c1d1e;
    color: #f1f5f3;

}

button{
    width: 100%;
    padding: 10px;
    background: white;
    font-size: 1.3rem;
    font-weight: bold;

}